<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
	<c-container>
		<c-row class="justify-content-center">
			<c-col md="8">
				<c-card-group>
					<c-card class="p-4">
						<c-card-body>
							<button
								cButton
								size="lg"
								color="dark"
								variant="outline"
								routerLink="/login"
							>
								<svg
									[cIcon]="icons.cilArrowLeft"
									size="lg"
									title="List Icon"
								></svg>
								Voltar
							</button>
							<br />
							<br />
							<div class="row">
								<div class="col">
									<h5>
										<strong>
											Bem vindo aos Sistema de Análise
											Dermatológica (SADE).
										</strong>
									</h5>

									<p>
										O SADE é um sistema integrado ao
										Programa de Assistência Dermatológica
										(PAD) da Universidade Federal do
										Espírito Santo (UFES). O PAD foi fundado
										em 1987 e desde então vem prestando um
										serviço primordial para a população do
										interior do estado do Espírito Santo.
										Desde 2018, os dados adquiridos durante
										o PAD começaram a ser armazenados de
										maneira estruturada. Daí que surge o
										SADE, que nada mais é do que um software
										de coleta, visualização e análise de
										todos os dados coletados durante todos
										os PADs.
									</p>

									<p>
										Os dados coletados e armazenados pelo
										SADE são sensíveis. O sistema armazena
										informações clínicas do paciente e
										imagens de suas lesões que foram
										diagnosticadas durante o atendimento do
										PAD. Por conta disso, somente pessoas
										autorizadas tem acesso ao sistema. Ainda
										assim, existem alguns termos de uso do
										sistema que devem ser respeitados. Ao
										cadastrar no sistema você está
										concordando com os seguintes termos:
									</p>

									<ul>
										<li>
											Em hipótese alguma os dados do SADE
											podem ser divulgados para pessoas
											externas ao programa. Nenhuma imagem
											ou dados de pacientes podem ser
											extraídos para fins que não seja o
											uso no PAD ou no projeto de pesquisa
											do mesmo;
										</li>

										<li>
											Você não deve permitir outra pessoa
											acessar o sistema com seu login e
											senha. Os seus passos no sistema são
											armazenadas no log. Caso alguém faça
											algo errado com o seu nome, você
											será penalizado.
										</li>
									</ul>

									<p>
										Infrigir os termos de uso pode acarretar
										na exclusão da sua conta. Além disso, o
										PAD é registrado como um programa de
										extensão e pesquisa na UFES e na
										plataforma Brasil. Caso esses dados
										sejam divulgados sem autorização, o
										infrator será apresentado para que as
										penalidades dispostas pela universidade
										e pelos responsáveis da plataforma
										Brasil sejam executadas.
									</p>

									<p>
										<strong
											>Ao se cadastrar no sistema você
											concorda com os termos aqui
											dispostos.</strong
										>
										Qualquer dúvida entre em contato com os
										resposáveis pelo programa. Uma cópia
										deste termo será enviada para seu email
										cadastrado.
									</p>
								</div>
							</div>
						</c-card-body>
					</c-card>
				</c-card-group>
			</c-col>
		</c-row>
	</c-container>
</div>
