<form cForm novalidate (ngSubmit)="onSubmit()" [formGroup]="liveForm">
    <c-card>
        <c-card-header>
            <fa-icon [icon]="iconsFa.faInbox" class="cardIcon fa-lg fa-fw"></fa-icon>
            <strong>&nbsp; Informações do Item</strong>
        </c-card-header>

        <c-card-body>
            <c-container>
                <c-row class="mt-md-3 d-flex align-items-center">
                    <c-col [md]="6" *ngIf="liveForm.controls['title'] as ctrl">
                        <label cLabel for="title">Nome do Item:</label>
                        <input id="title" type="text" cFormControl placeholder="Ex.: Sofá 3 lugares"
                            formControlName="title" [valid]=isValid(ctrl)>
                        <c-form-feedback *ngIf="ctrl.invalid" [valid]="false">
                            O nome do item é obrigatório!
                        </c-form-feedback>
                    </c-col>
                    <c-col *ngIf="liveForm.controls['description'] as ctrl">
                        <label cLabel for="description">Descrição do Item:</label>
                        <textarea id="description" cFormControl placeholder="Detalhes, estado de conservação..."
                            formControlName="description" [valid]=isValid(ctrl)></textarea>
                        <c-form-feedback *ngIf="ctrl.invalid" [valid]="false">
                            A descrição do item é obrigatória!
                        </c-form-feedback>
                    </c-col>
                </c-row>
                <c-row class="mt-md-3 d-flex align-items-center">
                    <c-col *ngIf="liveForm.controls['categoryId'] as ctrl" [md]="4">
                        <label for="categoryId">Categoria:</label>
                        <select id="categoryId" cSelect formControlName="categoryId" [valid]=isValid(ctrl)>
                            <option [ngValue]="null" disabled>Selecione...</option>
                            <option *ngFor="let c of categories" [value]="c.id">
                                {{ c.name }}
                            </option>
                        </select>
                        <c-form-feedback *ngIf="ctrl.invalid" [valid]="false">
                            Escolha uma categoria!
                        </c-form-feedback>
                    </c-col>
                </c-row >

            </c-container>
        </c-card-body>
    </c-card>

    <br>

    <c-card>
        <c-card-header>
            <fa-icon [icon]="iconsFa.faMapLocationDot" class="cardIcon fa-lg fa-fw"></fa-icon>
            <strong>&nbsp; Localização do Item</strong>
        </c-card-header>

        <c-card-body>
            <c-container>
                <c-row class="mt-md-3 d-flex align-items-center">
                    <c-col [md]="4" *ngIf="liveForm.controls['city'] as ctrl">
                        <label cLabel for="city">Cidade:</label>
                        <input id="city" type="text" cFormControl 
                            formControlName="city" [valid]=isValid(ctrl)>
                        <c-form-feedback *ngIf="ctrl.invalid" [valid]="false">
                            A cidade é obrigatória!
                        </c-form-feedback>
                    </c-col>
                    <c-col [md]="4" *ngIf="liveForm.controls['state'] as ctrl">
                        <label cLabel for="state">Estado:</label>
                        <input id="state" type="text" cFormControl 
                            formControlName="state" [valid]=isValid(ctrl)>
                        <c-form-feedback *ngIf="ctrl.invalid" [valid]="false">
                            O estado é obrigatório!
                        </c-form-feedback>
                    </c-col>
                </c-row>
            </c-container>
        </c-card-body>
    </c-card>

    <div class="d-grid gap-2 d-flex justify-content-end mt-md-4">
        <button cButton type="submit" class="btn btn-success btn-block pad-btn">
            <fa-icon [icon]="iconsFa.faCirclePlus" class="cardIcon fa-lg fa-fw"></fa-icon>
            &nbsp; Cadastrar
        </button>
    </div>

    <br>
</form>


<!-- MODAL DE SUCESSO -->
<c-modal id="successModal" [visible]="sucessVisible" (visibleChange)="handleSuccessModalChange($event)">
    <c-modal-header>
        <h5 cModalTitle>Sucesso</h5>
        <button (click)="toggleSuccessModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <div class="alert alert-success" role="alert" style="font-size: 18px">
            Item cadastrado com sucesso.
        </div>
    </c-modal-body>
    <c-modal-footer>
        <button class="pad-btn" (click)="goToDashboard()" cButton color="success">
            Fechar
        </button>
    </c-modal-footer>
</c-modal>

<!-- MODAL DE ERRO -->
<c-modal id="errorModal" [visible]="errorVisible" (visibleChange)="handleErrorModalChange($event)">
    <c-modal-header>
        <h5 cModalTitle>Erro</h5>
        <button (click)="toggleErrorModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <div class="alert alert-danger" role="alert" style="font-size: 18px">
            Ocorreu um erro ao realizar o cadastro do item.
        </div>
    </c-modal-body>
    <c-modal-footer>
        <button class="pad-btn" (click)="toggleErrorModal()" cButton color="danger">
            Fechar
        </button>
    </c-modal-footer>
</c-modal>
