<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
	<c-container>
		<c-row class="justify-content-center">
			<c-col md="8">
				<c-card-group>
					<c-card class="p-4">
						<c-card-body>
							<button
								cButton
								size="lg"
								color="dark"
								variant="outline"
								routerLink="/login"
							>
								<svg
									[cIcon]="icons.cilArrowLeft"
									size="lg"
									title="List Icon"
								></svg>
								Voltar
							</button>
							<br />
							<br />
							<div class="row">
								<div class="col">
									<p>
										Todas as suas informações pessoais
										obtidas pelo aplicativo PAD UFES e pelo
										SADE são utilizadas, únicas e
										exclusivamente, para inserção de dados
										do Programa de Assistência Dermatólogica
										(PAD) da Universidade Federal do
										Espírito Santo (UFES). Nenhuma imagem ou
										dado de formulário é transmitido para
										terceiros ou utilizados para qualquer
										outro propósito. A garantia da
										confidencialidade dos dados pessoais dos
										usuários do app é importante para o PAD
										UFES.
									</p>

									<p>
										Todas as informações pessoais relativas
										a membros, assinantes, clientes ou
										visitantes que usem o PAD UFES ou SADE
										serão tratadas em concordância com a Lei
										da Proteção de Dados Pessoais de 26 de
										outubro de 1998 (Lei n.º 67/98)
									</p>

									<p>
										Nenhuma informação pessoal é recolhida
										ou processada durante o uso do
										aplicativo. O acesso a camera, album e
										sistema de arquivos do seu smartphone é
										realizado com. único proposito de enviar
										as images e dados das lesões para o
										servidor do programa.
									</p>

									<p>
										O uso do aplicativo PAD UFES pressupõe a
										aceitação deste Acordo de privacidade. A
										equipe do PAD UFES reserva-se ao direito
										de alterar este acordo sem aviso prévio.
										Deste modo, recomendamos que consulte a
										nossa política de privacidade com
										regularidade de forma a estar sempre
										atualizado.
									</p>

									<p>
										Nenhum tipo de anúncio é realizado
										dentro do aplicativo, que não possui
										fins lucrativos. O aplicativo não possui
										nenhuma ligação com sites terceiros.
										Assim como não coletamos nenhuma
										informação do usuário, também não a
										transmitimos para nenhuma outra
										entidade.
									</p>
								</div>
							</div>
						</c-card-body>
					</c-card>
				</c-card-group>
			</c-col>
		</c-row>
	</c-container>
</div>
